[submodule "lvx-mds"]
	path = lvx-mds
	url = git@github.com:bddinechin/lvx-mds.git
[submodule "lvx-binutils"]
	path = lvx-binutils
	url = git@github.com:bddinechin/lvx-binutils.git
[submodule "lvx-gdb"]
	path = lvx-gdb
	url = git@github.com:bddinechin/lvx-gdb.git
[submodule "lvx-newlib"]
	path = lvx-newlib
	url = git@github.com:bddinechin/lvx-newlib.git
[submodule "lvx-gem5"]
	path = lvx-gem5
	url = git@github.com:bddinechin/lvx-gem5.git
	branch = lvx
[submodule "lvx-mlir/llvm-project"]
	path = lvx-mlir/llvm-project
	url = git@github.com:bddinechin/llvm-project.git
	branch = lvx-mlir
[submodule "lvx-llvm/llvm-project"]
	path = lvx-llvm/llvm-project
	url = git@github.com:bddinechin/llvm-project.git
	branch = lvx-llvm
[submodule "lvx-gcc/gcc"]
	path = lvx-gcc/gcc
	url = git@github.com:bddinechin/gcc.git
	branch = lvx-gcc
